body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #FFFFFF;
  color: #222222;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* Code Browser Frame */
.cb-frame {
}

/* Editor panel */
.cb-editor {
    margin-left: 220px;
    /*
    border: 1px solid black;
    height: 400px;
    */
    max-width: 800px;
}

.cb-editor .body {
  background-color: #333;
  color: #DDD;
  padding: 8px;
}

.cb-editor .body pre.line {
  padding: 0;
  margin: 0;
}

.cb-editor .body pre.line.data {
}

.cb-editor .body pre.line.fold {
  background-color: #336;
  color: #DDF;
  cursor: pointer;
}

/* Browser panel */
.cb-browser {
  width: 220px;
  max-width: 220px;
}

.cb-browser ul.treeview {
}

.cb-browser ul {
	margin: 0;
  padding: 0;
  list-style: none;
}

.cb-browser ul li {
	cursor: pointer;
	line-height: 15px;
	height: 15px;
	padding: 3px 0 3px 10px;
  background: #ffffff url('../img/file.png') no-repeat left top;
}

.cb-browser ul li[selected='selected'] {
  background-color: #FF0;
}

.cb-browser ul li span {
	cursor: pointer;
  padding: 0 0 0 12px;
}

.cb-browser ul li span:hover {
	text-decoration: underline;
}

