body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #FFFFFF;
  color: #222222;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

ul {
	padding: 0;
	list-style: none;

}

ul li {
	padding: 0 0 0 8px;
}

/* Code Browser Frame */
.cb-frame {
}

/* Editor panel */
.cb-editor {
    margin-left: 220px;
    /*
    border: 1px solid black;
    height: 400px;
    */
    max-width: 800px;
}

/* Browser panel */
.cb-browser {
}

.cb-browser ul.treeview {
}

.cb-browser ul {
	margin: 0;
}

.cb-browser ul li {
	cursor: pointer;
	line-height: 15px;
	height: 15px;
	padding: 3px 0 3px 20px;
}

.cb-browser ul li span {
	cursor: pointer;	
}

.cb-browser ul li span:hover {
	text-decoration: underline;
};